# Maven
target/
!target/firefighter-platform-0.0.1-SNAPSHOT.jar
pom.xml
src/

# IDE files
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Documentation
*.md

# Test files
postman/

# Git
.git/
.gitignore
