/FireFighter/.angular/cache
/FireFighter/android
/FireFighter/node_modules
/FireFighter/www
/FireFighter/www
/FireFighter/www
/FireFighter/www
/FireFighter/www
/FireFighter/www
/FireFighter/android
# Environment variables
.env
.env.local
.env.*.local